html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
/* Body */
body{
    background-color: @body-bg;
    color: @primary-color;
    font-family: 'Nunito Sans', sans-serif;
}
.left{
    flex: none;
    width: 230px;
}
.right{
    width: calc(100% - 230px);
}
aside{
    background-color: @primary-color;
    width: 230px;
    max-width: 230px;
    height: 100vh;
    position: fixed;

    .title{
        padding: 40px;
        h2{
            font-size: 16px;
            font-weight: 700;
            color: @white;
            line-height: 24px;
            padding-bottom: 7px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 60px;
                height: 2px;
                background-color: @dark-yellow;
                
            }
        }
    }

    .nav{
        li{            
            a{
                font-size: 14px;
                color: @white;
                opacity: 0.5;
                padding: 10px 40px;
                display: block;
                cursor: pointer;
                transition: .3s;

                &:hover{
                    background-color: @bg-menu;
                    opacity: 1;
                    box-shadow: inset 3px 0px 0 @dark-yellow;
                }
            }

            &.spacer{
                margin-bottom: 40px;
            }
            &.active{
                a{
                    background-color: @bg-menu;
                    opacity: 1;
                    box-shadow: inset 3px 0px 0 @dark-yellow;
                }
            }
        }
    }
}

main{
    .header{
        background-color: @white;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: flex;
            align-items: center;
            img.small{
                height: 40px;
                width: auto;
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
            }
            img{
                height: 30px;
                width: auto
            }
        }

        .menu{
            ul{
                display: flex;
                align-items: center;
                li{
                    a:not(.btn){
                        color: @black;
                        font-size: 12px;
                        font-weight: 600;
                        padding-right: 30px;
                        text-transform: uppercase;
                        position: relative;

                        &::before{
                            content: '';
                            position: absolute;
                            left: -10px;
                            top: 5px;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: @dark-yellow;
                        }
                    }
                }
            }            
        }
    }

    .wrapper{
        padding: 30px;

        .card-bssn{
            padding: 60px;
        }
    }
}

pre{
    width: 100%;
    display: inline-grid;
}

/* pagination */
.pagination{
    margin: 0;
    p{
        font-size: 12px;
        color: @primary-color;
    }

    ul{
        display: flex;
        li{
            margin-left: 10px;
            a{
                border: 1px solid @border-pagination;
                border-radius: 6px;
                padding: 8px 12px;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                color: @primary-color;
            }
            &.active{
                a{
                    background-color: @yellow ;
                    border-color: @yellow;
                }
            }
        }
    }

    &.white{
        display: flex;
        justify-content: space-between;
        ul{
            
            li{                
                margin-left: 0;
                margin-right: 0;
                &:first-child{
                    a{
                        border-right: none;
                        border-radius: 4px 0 0 4px;
                    }
                }
                &:last-child{
                    a{
                        border-right: 1px solid @border-pagination;
                        border-radius: 0 4px 4px 0;
                    }
                }
                a{
                    border: 1px solid @border-pagination;
                    border-right: none;
                    border-radius: 0;
                    padding: 8px 12px;
                    width: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    color: @primary-color;

                    &:hover{
                        background-color: @primary-color;
                        color: @white;
                        border-color: @primary-color;
                    }
                }

                &.active{
                    a{
                        border-color: @primary-color;
                        background-color: @primary-color;
                        color: @white;
                    }
                }
            }
        }
    }

    &.personil{
        display: flex;
        justify-content: flex-end;
        ul{
            li{                
                a{
                    background-color: @white;
                }
            }
        }
    }
}

.color-box{
    width: 160px;
    height: 88px;
    border-radius: 8px;
    position: relative;
    p{
        font-size: 14px;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}

/* Header Tags */
.header-tags{
    background-color: @white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    padding: 24px 0;
    
    ul.tags{
        padding-left: 0;
        li{
            a{
                color: @primary-color;
                font-size: 12px;
                margin-right: 30px;
                padding-left: 12px;
                position: relative;
                &:before{
                    content: "•";
                    color: @yellow;
                    font-size: 18px;
                    position: absolute;
                    top:-8px;
                    left:0;
                }
            }
        }
    }
}

.menu{
    .nav-menu{
        display: flex;       
        margin-top: 20px; 
        li{
            a{
                background-color: @light-blue;
                color: @primary-color;
                font-size: 12px;
                font-weight: normal;
                padding: 17px 35px;
                position: relative;
                transition: .3s;
                &:hover{
                    background-color: @yellow;
                    font-weight: 700;
                }
            }

           &.has-child{
               position: relative;     
              & > a{          
                    &::before{                   
                        content: '';
                        background: url(../img/ic-arrow-down.svg);
                        width: 7px;
                        height: 5px;
                        position: absolute;
                        right: 15px;
                        top: 22px;     
                        transition: .3s;                         
                    }             
                    &:hover{
                        &::before{   
                            transform: rotate(180deg);
                        }
                    } 
                }
                

                ul{
                    visibility: hidden;                
                    opacity: 0;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 38px;
                    transition: .3s;
                    li{
                       
                        a{
                            min-width: 262px;
                            background-color: @yellow;
                            display: inline-block;
                            padding: 13px 30px;
                            font-size: 14px;
                            border-bottom: 1px solid #ffdf7d;
                            transition: .3s;
                            &:hover{
                                background-color: @light-yellow;
                                font-weight: 700;
                            }
                        }
                    }
                }

                &:hover{
                    ul{
                        visibility: visible;                
                        opacity: 1;
                    }
                }
           }
            
        }
    }
}

.menu-box{
    background-color: @light-blue;
    border-radius: 6px;
    padding: 20px;
    width: 160px;
    text-align: center;
    .img-wrapper{
        background-color: @white;       
        border-radius: 50%;
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
           
        }
    }
    p{
        font-size: 12px;
        font-weight: 600;
        margin-top: 20px;
    }
}

ul.nav-vertical{
    li{
        width: 100%;

        a{
            width: 100%;
            border-bottom: 1px solid @light-primary-color;
            font-size: 20px;
            padding-bottom: 10px;
            display: inline-block;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            color: @primary-color;
        }
    }
}