// Variable Color
@primary-color: #263053;
@light-primary-color: #3e5d8c;
@secondary-color: #29446c;
@dark-primary-color: #1b2341;
@light-blue: #ecf1f9;
@bg-dark: #171d29;
@bg-dark-grey: #81858b;
@bg-light-grey: #c8c9cc;

@border-action: #ccdef9;
@white: #ffffff;
@black: #000000;
@yellow: #fac31d;
@grey: #9a9a9a;
@yellow-warning: #ff9400;
@dark-yellow: #fbc143;
@darker-yellow: #fbaf43;
@light-yellow: #ffdf7d;
@bg-danger: #e51e1e;
@text-danger: #ff0002;
@text-menu: #818fbe;
@bg-footer: #19203b;
@text-footer: #9db2d2;
@text-footer-yellow: @dark-yellow;
@text-copyright: #4c5b74;
@border-hr: #314668;
@text-info: #d8d8d8;
@text-info-blog: #9a9a9a;
@text-border-blog: #efefef;
@text-border: rgba(239,239,239,0.3);
@bg-grey: #f0f0f0;
@single-text: #48494e;
@bg-hover-menu: #dde6f4;
@border-separator: #2f4362;
@body-bg: #f7f7f7;
@color-footer: #697d9e;
@text-black: #000000;
@bg-success: #f1ffe5;
@border-success: #3fae19;
@text-success: #00b100;
@border-select: #d0d6de;
@bg-thead: #f7faff;
@border-table: #eaecf2;
@bg-tr: #fcfdff;
@bg-btn-read: #fff7e5;
@border-pagination: #d0d6de;
@text-placeholder: #878181;
@text-map: #8c8e97;
@border-map-list: #e7ecf2;
@bg-image-status: #fff3ce;
@text-widget: #161616;
@border-widget: #d3d9e0;
@bg-badge-widget: #e4e9f0;
@text-widget-child: #606060;
@border-biodata: #e4e4e4;
@color-span-bio: #707070;
@badge-success: #00be14;
@text-event-calendar: #717a92;
@border-event-calendar: #dfe4ea;
@bg-badge: #fffcf6;
@border-tupoksi: #ffe5ad;

@color-badge-success: #3fae19;
@border-badge-success: rgba(63, 174, 25, 0.22);
@bg-badge-success: #f1ffe5;

@border-badge-warning: rgba(251, 193, 67, 0.22);
@bg-badge-warning: #fff7e5;

@color-badge-danger: #e13030;
@border-badge-danger: rgba(225, 48, 48, 0.22);
@bg-badge-danger: #fff5f5;

@bg-menu: #181f37;