.text-primary{
    color: @primary-color !important; 
}
.text-success{
    color: @text-success !important;
}
.text-danger{
    color: @text-danger !important;
}
.text-right{
    text-align: right !important;
}
.font-normal{
    font-weight: normal !important;
}
.font-semibold{
    font-weight: 600 !important;
}
.font-bold{
    font-weight: 700 !important;
}
//padding
.p{
    &-none{
        padding: 0;
    }
    &x-none{
        padding-left: 0;
        padding-right: 0;
    }
    &y-none{
        padding-top: 0;
        padding-bottom: 0;
    }
    &l{
        &-0{
            padding-left: 0;
        }
        &-1{
            padding-left: 5px;
        }
        &-2{
            padding-left: 10px;
        }
        &-3{
            padding-left: 15px;
        }
        &-4{
            padding-left: 20px;
        }
        &-6{
            padding-left: 25px;
        }
        &-7{
            padding-left: 30px;
        }
    }

    &r{
        &-0{
            padding-right: 0;
        }
        &-1{
            padding-right: 5px;
        }
        &-2{
            padding-right: 10px;
        }
        &-3{
            padding-right: 15px;
        }
        &-4{
            padding-right: 20px;
        }
        &-6{
            padding-right: 25px;
        }
        &-7{
            padding-right: 30px;
        }
    }

    &t{
        &-0{
            padding-top: 0;
        }
        &-1{
            padding-top: 5px;
        }
        &-2{
            padding-top: 10px;
        }
        &-3{
            padding-top: 15px;
        }
        &-4{
            padding-top: 20px;
        }
        &-6{
            padding-top: 25px;
        }
        &-7{
            padding-top: 30px;
        }
    }
}

//margin

.m{
    &-none{
        margin: 0;
    }
    &x-none{
        margin-left: 0;
        margin-right: 0;
    }
    &y-none{
        margin-top: 0;
        margin-bottom: 0;
    }

    &r{
        &-0{
            margin-right: 0;
        }
        &-1{
            margin-right: 5px;
        }
        &-2{
            margin-right: 10px;
        }
        &-3{
            margin-right: 15px;
        }
        &-4{
            margin-right: 20px;
        }
        &-6{
            margin-right: 25px;
        }
        &-7{
            margin-right: 30px;
        }
    }

    &l{
        &-0{
            margin-left: 0;
        }
        &-1{
            margin-left: 5px;
        }
        &-2{
            margin-left: 10px;
        }
        &-3{
            margin-left: 15px;
        }
        &-4{
            margin-left: 20px;
        }
        &-6{
            margin-left: 25px;
        }
        &-7{
            margin-left: 30px;
        }
    }
    &b{
        &-0{
            margin-bottom: 0;
        }
        &-1{
            margin-bottom: 5px;
        }
        &-2{
            margin-bottom: 10px;
        }
        &-3{
            margin-bottom: 15px;
        }
        &-4{
            margin-bottom: 20px;
        }
        &-6{
            margin-bottom: 25px;
        }
        &-7{
            margin-bottom: 30px;
        }
    }
}

.btn{
    font-size: 14px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    
    &-sm{
        font-size: 12px;
        font-weight: normal;
    }
    &-primary{
        background-color: @dark-yellow ;
        color: @primary-color;
        img{
            margin-left: 10px;
        }
    }

    &-border{
        border: 1px solid @dark-yellow;
        color: @primary-color;
        display: inline-flex;
        align-items: center;
        img{
            margin-right: 10px;
        }

        &.icon-right{
            img{
                margin-right: 0;
                margin-left: 10px;
            }
            
        }
    }

    &-full{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &-yellow{
        background-color: @dark-yellow;
        color: @primary-color;

        img{
            margin-right: 8px;
        }
    }

    &-read{
        padding: 6px 10px;
        background-color: @bg-btn-read ;
        border: 1px solid @dark-yellow;
        color: @primary-color;

        img{
            margin-right: 8px;
        }
    }

    &-notes{
        padding: 6px 10px;
        background-color: @white ;
        border: 1px solid @dark-yellow;
        color: @primary-color;

        img{
            margin-right: 8px;
        }
    }

   
}

h3.title_head{
    font-size: 22px;
    font-weight: 600;
    color: @primary-color;
    padding-left: 12px;
    border-left: 5px solid @dark-yellow;

    &.white{
        color: @white;
        margin-bottom: 50px;
    }
}
h4.title_head{
    font-size: 20px;
    font-weight: 700;
    color: @primary-color;
    border-bottom: 3px solid @dark-yellow;
    padding-bottom: 10px;
    &.inline{
        display: inline-flex;
        margin-bottom: 30px;
    }
}
.see_more{
    font-size: 14px;
    font-weight: 700;
    color: @primary-color;    
    display: flex;
    align-items: center;
    img{
        margin-left: 10px;
    }
}

.avatar{
    border-radius: 50%;
    &-sm{
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}
.card-bssn{
    padding: 25px 35px;
    background-color: @white;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

    .title{
        h4{
            font-size: 14px;
            font-weight: 700;
            color: @primary-color;
            text-transform: uppercase;
        }
    }
}
.card-box{
    background-color: @white;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    canvas{
        padding: 20px;
    }
}

/* Select */
.select-bssn{
    display: flex;
    align-items: center;
    position: relative;

    &.filter{
        width: 230px;
        select{
            padding-left: 55px;
            width: 230px;
        }
        span{
            position: absolute;
            color: @text-placeholder;
            font-size: 12px;
            z-index: 10;
            left: 15px;
        }

        &-long{
            width: 270px;
            select{
                padding-left: 100px;
                width: 270px;
            }
        }

        &-full{
            width: 100%;
            select{                
                width: 100%;
            }
        }
    }
    
    select{
        display: flex;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid @border-select;
        font-size: 12px;
        color: @primary-color;
        padding: 6px 12px;
        border-radius: 4px;
        width: 150px;
        cursor: pointer;        
    }

    &::after{
        content:'';
        background: url(../img/ic-arrow-down.svg)no-repeat;
        position: absolute;
        right: 15px;
        top: 13px;
        width: 11px;
        height: 6px;
    }
}

/* input group */
.input-group{
    position: relative;
    font-size: 0;    
    input[type="text"]{
        border: 1px solid @border-select;
        padding: 7px 12px;
        border-radius: 4px;
        &.large{
            width: 270px;
        }
        &.full{
            width: 100%;
        }
    }
    .btn-submit{
        position: absolute;
        top: 4px;
        right: 4px;
        background-color: @dark-yellow ;
        border: none;
        padding: 4px 6px;
        border-radius: 2px;
    }
}
/* badge */
.badge-bssn{
    font-size: 12px;
    font-weight: normal;
    display: flex;
    align-items: center;
    line-height: 0;
    &.success{
        background-color: @bg-success;
        border: 1px solid @border-success;
        border-radius: 4px;
        padding: 6px 12px;
        color: @primary-color;
        span{
            color: @border-success;
            margin-right: 5px;
        }
    }
    img{
        margin-right: 5px;
    }
}

/* Table */

table.table{
    border: 1px solid @border-table;
    width: 100%;
    th{                
        font-weight: 600;        
        background-color:@bg-thead ;       
    }

    th, td{
        font-size: 12px;
        padding: 20px;
        color: @primary-color;
        border-bottom: 1px solid @border-table;
    }

    tr{
       &:nth-child(even){
           background-color: @bg-tr ;
       }

       td{
           .badge{
               padding: 8px 12px;
               border-radius: 16px;

               &.badge-success{
                    color: @color-badge-success;
                    background-color: @bg-badge-success;
                    border: 1px solid @border-badge-success;
               }

               &.badge-warning{
                    color: @dark-yellow;
                    background-color: @bg-badge-warning;
                    border: 1px solid @border-badge-warning;
                }
            
                &.badge-danger{
                    color: @color-badge-danger;
                    background-color: @bg-badge-danger;
                    border: 1px solid @border-badge-danger;
                }
           }
       }
    }
}

.table-siber{
    h4{
        font-size: 16px;
        font-weight: 700;
        color: @primary-color;
    }
}


/* Modal */
body.modal-active{
    .modal-show{
        display: block;
    }
}
.modal-bssn{
    display: none;
    z-index: 10;
    position: absolute;
    top: 10%;
    left: calc(50% - 450px);
    right: calc(50% - 450px);
    width: 900px;
    .overlay{
        content: '';
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
    }
    .content{
        z-index: 10;
        position: absolute;
        background-color: #ffffff;
        padding: 50px;
        border-radius: 6px;

        h4{
            font-size: 16px;
            font-weight: 600;
            color: @primary-color;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            line-height: 28px;
            color: @primary-color;
        }
    }

    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
}


/* Customize the label (the container) */
.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 35px;
    padding-right: 10px;    
    cursor: pointer;
   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .title{
        font-size: 14px;
        font-weight: normal;
        color: @text-widget;
        margin-bottom: 0;
    }
  }
  
  /* Hide the browser's default checkbox */
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 14px;
    width: 14px;
    background-color: @white;
    border: 1px solid @dark-yellow;
    border-radius: 3px;
  }
  
  /* On mouse-over, add a grey background color */
  .label-container input:checked ~ .title{
      font-weight: 600;
  }
  .label-container:hover input ~ .checkmark {
    background-color: @white;
  }
  
  /* When the checkbox is checked, add a blue background */
  .label-container input:checked ~ .checkmark {
    background-color: @white;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .label-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .label-container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .compare-result{
    display: flex;
    justify-content: center;
    p,a{
        width: 50%;
        text-align: center;
    }

    &.full{
        justify-content: flex-end;
        p{
            border-radius: 4px;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                margin-right: 3px;
            }
            img{
                margin-right: 10px;
            }
        }
    }
    p{
        font-size: 12px;
        font-weight: normal;
        padding: 10px 15px;
        background-color: @bg-success;
        border-radius: 4px 0 0 4px;
        border: 1px solid @border-success;
    }
    a{
        font-size: 12px;
        font-weight: 600;
        padding: 11px 20px;
        background-color: @border-success;
        border-radius: 0 4px 4px 0;
        color: @white;
        display: flex;
        align-items: center;
        img{
            margin-left: 10px;
        }
    }
}

.nav-breadcrumb{
    display: flex;
    a{
        font-size: 14px;
        font-weight: 600;
        color: @text-widget;
        display: flex;
        align-items: center;

        padding-right: 15px;
        margin-right: 15px;

        img{
            margin-right: 10px;
        }

        &:first-child{
            border-right: 1px solid @border-widget;
        }
    }
}

//tab
.card-tab{
    padding: 30px 40px;
    background-color: @white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.tab-content {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .tabs{
      ul{
        li{
            a{
                font-size: 12px;
                font-weight: normal;
                padding-bottom: 15px;
                border-bottom-width: 0;
                margin-right: 20px;
                
            }
            &.is-active{
                a{
                    border-bottom-width: 2px;
                    border-bottom-color: @dark-yellow;
                    color: @primary-color;
                    font-weight: 700;
                }
            }
        }
    }
  }

  .compare-area{
    &::-webkit-scrollbar {
        height: 5px;
      }
    
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f7f7f7;
      }
    
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #9a9a9a;
        border-radius: 20px;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
      }
    
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #9a9a9a;
      }
  }

  .pagu-wrapper{
    display: flex;
    #pagu-chart{
       
        width: 140px !important;
        height: 140px !important;
        margin-right: 30px;
    }
    #penyerapan-chart{
        width: 230px !important;
        height: 230px !important;
    }
    .info{
        p{
            font-size: 12px;                
            color: @primary-color;    
            margin-bottom: 0;   
            line-height: 10px;  
            display: flex;      
            align-items: center; 
            &.title{
                font-weight: 700;
                margin-bottom: 20px;
            }                
            span{
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-bottom: 0;
                border-radius: 2px;
                margin-right: 10px;

                &.bg-primary{
                    background-color: @primary-color;
                }
                &.bg-yellow{
                    background-color: @dark-yellow;
                }
            }
        }
        span{
            font-size: 14px;                
            color: @primary-color;    
            font-weight: 600;
            margin-bottom: 15px;
            display: inline-block;
        }
    }   
}