/* Body */
body{
    background-color: @body-bg;
}
/* Header */
header{
    background-color: @primary-color;       
    padding: 10px 0 20px 0;
    .logo{
        margin-right: 30px;
        img{
            max-height: 50px;
        }
    }
    

    .action{
        display: flex;
        padding-right: 15px;
        margin-right: 15px;
        border-right: 2px solid @border-separator;
        a{
            background-color: @dark-primary-color;
            padding: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            width: 37px;
            height: 37px;
            margin-left: 10px
        }
    }

    .profile{
        display: flex;
        align-items: center;
        img.avatar{
            margin-right: 12px;
        }
        span{
            font-size: 12px;
            color: @white;
        }

        a{
            margin-left: 20px;
        }
    }
}

/* Header Menu */
.header-menu{
    background-color: @light-blue;
    display: flex;
    height: 134px;
    ul.menu{
        display: flex; 
        justify-content: center;
        margin-top: 12px;       
        li{
            width: calc(100% / 7);
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 50px auto;
                font-size: 12px;
                font-weight: 700;
                color: @primary-color;
                height: 133px;

                img{
                    margin-bottom: 20px;
                }
            }

            &.active,
            &:hover{
                a{
                    background-color: @bg-hover-menu;
                    box-shadow: 0 -5px 0 @yellow inset ;
                    color: @primary-color;                    
                }
            }
        }
    }
}

/* Header Tags */
.header-tags{
    background-color: @white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    padding: 24px 0;
    
    ul.tags{
        padding-left: 10px;
        li{
            a{
                color: @primary-color;
                font-size: 12px;
                margin-right: 30px;
                padding-left: 12px;
                position: relative;
                &:before{
                    content: "•";
                    color: @yellow;
                    font-size: 18px;
                    position: absolute;
                    top:-8px;
                    left:0;
                }
            }
        }
    }
}

/* Profile Pimpinan & Map */
.photo-map{
    padding: 30px 0;
    .profile-pimpinan{
        border-radius: 6px;
       
        position: relative;
        img{
            border-radius: 6px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
            height: 424px;
            object-fit: cover;
        }
        span{
            position: absolute;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            color: @white;
            width: 80%;
            top: 15%;
            left: 10%;
            text-align: center;
            
        }
    }

    .map{
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        border-radius: 6px 6px;
        #maps{
            width: 100%;
            height: 367px;
            border-radius: 0 0 6px 6px;
            
            &.large{
                height: 600px;
            }
            .leaflet-interactive{
                -webkit-animation: pulsate 1.5s ease-out;
                -webkit-animation-iteration-count: infinite; 
                -webkit-animation-delay: 1s;
            }
            
        }

        #maps-cirst{
            width: 100%;
            height: 600px;
            border-radius: 0 0 6px 6px;
            
            .leaflet-interactive{
                -webkit-animation: pulsate 1.5s ease-out;
                -webkit-animation-iteration-count: infinite; 
                -webkit-animation-delay: 1s;
            }
            
        }

        .map-wrapper{
            position: relative;

            .mapbox-list{
                width: 330px;
                padding: 20px;
                background-color: @white;
                border-radius: 6px;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 1000;

                &::after{
                    content: '';
                    position: absolute;
                    bottom: 15px;
                    left: 0;
                    width: 100%;
                    height: 40px;
                    box-shadow: inset 1px -16px 12px 11px rgb(255 255 255);
                    z-index: 10000;
                }

                h4{
                    font-size: 14px;
                    font-weight: 700;
                    color: @primary-color;
                    margin-bottom: 15px;
                }

                .list{
                    margin-top: 20px;                    
                    padding-right: 20px;                   
                    height: 390px;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        width: 2px;
                      }
                    
                      /* Track */
                      &::-webkit-scrollbar-track {
                        background: #f3f3f3;
                      }
                    
                      /* Handle */
                      &::-webkit-scrollbar-thumb {
                        background: #a8a8a8;
                      }
                    
                      /* Handle on hover */
                      &::-webkit-scrollbar-thumb:hover {
                        background: #a8a8a8;
                      }
                    .item{
                        display: flex;
                        align-items: flex-start;
                        padding-top: 15px;
                        margin-top: 15px;
                        border-top: 1px solid @border-map-list;

                        &:first-child{
                            margin-top: 0;
                        }
                        img{
                            margin-right: 10px;
                        }
                            p{
                                font-size: 12px;
                                color: @text-map;
    
                                &.title-map{
                                    font-weight: 700;
                                    color: @primary-color;
                                    margin-bottom: 5px;
                                }
                            }                        
                        
                    }
                }
            }
        }
        
    }
    
}

/* Graphic Chart */
.graphic{
    #chart1{
        width: 100%;
        height: 300px;
    }
    #chart5{
        width: 100%;
        height: 200px;
    }    
    
    .card-box{
        background-color: @white;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        canvas{
            padding: 20px;
        }
    }

    .action{
        padding: 0 20px;
    }
}

#pie-chart{
    
}

.news{
    padding: 30px 0 60px 0;
    .layout-3{
        background-color: @white;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        padding: 20px 25px;
        h4{
            font-size: 14px;
            font-weight: 700;
            color: @primary-color;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 2px solid @yellow;
        }

       

        .item{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            .caption{
                margin-right: 15px;
                display: flex;
                width: 100%;
                p{
                    width: 80%;
                    a{
                        font-size: 14px;
                        font-weight: 600;
                        color: @primary-color;
                        line-height: 22px;
                        min-height: 80px;
                    }
                }   
                img{
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                    border-radius: 4px;
                    margin-left: 20px;
                }             
            }
           
            .info{
                border-top: 1px solid @text-border-blog;
                padding-top: 10px;
                margin-top: 15px;
                width: 100%;
                span{
                    color: @text-info-blog;
                    font-size: 12px;

                    &:first-child{
                        border-right: 1px solid @text-border-blog;
                        padding-right: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.card-box{    
    .title{
        background-color: @white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        border-radius: 6px 6px 0 0;
        margin-bottom: 0;
        .img-wrapper{
            width: 40px;
            height: 40px;
            background-color: @bg-image-status;
            border-radius: 50%;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p{
            color: @primary-color;
            font-size: 14px;
            font-weight: 700;
            a{
                color: @primary-color;
                font-size: 14px;
                font-weight: 700;
            }
        }
        a{
            color: @primary-color;
            font-size: 12px;
            font-weight: normal;
            display: flex;
            align-items: center;
            img{
                margin-left: 8px;
            }
        }
    }
}


.marker_info{
    .location{
        font-size: 10px;
        font-weight: 600;
        color: @text-black;
        background-color: @white;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        img{
            margin-right: 8px;
        }
    }
    p{
        margin: 5px 20px 0 10px !important;
        padding-top: 5px;
        font-size: 10px !important;
        color: @primary-color;
        border-top: 1px solid @bg-grey;
        &:last-child{
            padding-bottom: 5px;
        }
        span{
            display: inline-block;
            margin-right: 5px;
        }

    }
}
.leaflet-popup-content{
    margin: 0 !important;
    width: 120px !important;
}
.leaflet-popup-content-wrapper{
    border-radius: 6px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.hero{
    background: url(../img/profile-pimpinan2.png) no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tagline{
        font-size: 21px;
        font-weight: 700;
        color: @white;
        text-align: center;
    }

    .card-box{
        .title{
            padding: 0;
        }
        width: 730px;
        
        background-color: @white;
        padding: 20px;
        border-radius: 6px;

        #chart3{
            width: 700px;
            height: 220px !important;
        }
    }

    .info{
        display: flex;
        justify-content: space-between;
        width: 600px;
        margin-top: 10px;
        p{
            font-size: 12px;
            font-weight: 700;
            color: @primary-color;
        }
        span{
            font-size: 12px;
            color: @primary-color;
            width: 145px;
            display: flex;
        }
        
        .right{
            p,span{
                text-align: right;
            }
        }
    }
}

footer{
    background-color: @primary-color;
    width: 100%;
    
    padding: 15px 0;
    p{
        color: @color-footer;
        font-size: 12px;
    }
}

@-webkit-keyframes pulsate {    
    0%{stroke-width: 10}
    20%{stroke-width: 12}
    40%{stroke-width: 14}
    60%{stroke-width: 16}
    80%{stroke-width: 14}
    100%{stroke-width: 10}      
}

/* Weather */
.weather{
    margin-bottom: 20px;
    .weather-info{
        margin-bottom: 13px;
        .head{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            p{
                font-size: 18px;
                font-weight: normal;
                color: @primary-color;

                span{
                    font-weight: 700;
                }
            }

            span.badge-user{
                font-size: 12px;
                font-weight: 600;
                color: @dark-yellow;
                background-color: @bg-badge;
                border: 1px solid @dark-yellow;
                border-radius: 2px;
                padding: 4px 10px;
                margin-left: 20px;
            }
        }

        .info{
            display: flex;
            .item{
                display: flex;
                justify-content: center;
                padding-right: 30px;
                margin-right: 30px;
                border-right: 1px solid @border-biodata;

                &:last-child{
                    border-right: none;
                }
                &.flex-column{
                    flex-direction: column;
                }
                .large{
                    font-size: 50px;
                    font-weight: 700;
                    color: @primary-color;
                    display: flex;
                    margin-left: 10px;
                    span{
                        font-size: 30px;
                    }
                }
                p{
                    font-size: 12px;
                    font-weight: 600;
                    color: @primary-color;
                    margin-bottom: 4px;
                    &.date{
                        font-weight: normal;
                    }
                }

                .img-wrapper{
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 5px;
                    }
                    p{
                        font-size: 12px;
                        font-weight: normal;
                        color: @text-info-blog;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    
}

/* Siber */
.siber{
    margin: 30px 0;
}

/* Agenda */
.agenda{
    margin: 30px;
}

/* pagination */
.pagination{
    margin: 0;
    p{
        font-size: 12px;
        color: @primary-color;
    }

    ul{
        display: flex;
        li{
            margin-left: 10px;
            a{
                border: 1px solid @border-pagination;
                border-radius: 6px;
                padding: 8px 12px;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                color: @primary-color;
            }
            &.active{
                a{
                    background-color: @yellow ;
                    border-color: @yellow;
                }
            }
        }
    }

    &.personil{
        display: flex;
        justify-content: flex-end;
        ul{
            li{                
                a{
                    background-color: @white;
                }
            }
        }
    }
}

/* personil */
.status-personil{
    display: flex;
    padding: 30px 0;
    margin: 10px 20px;
    border-top: 1px solid @border-map-list;
    .item{
        display: flex;
        align-items: center;
        width: calc(100% / 5);
        border-right: 1px solid @border-map-list;
        margin-right: 30px;

        &:last-child{
            border-right: none;
        }
        .img-wrapper{
            width: 60px;
            height: 60px;
            background-color: @bg-image-status;
            padding: 10px;
            border-radius: 50%;
            margin-right: 20px;
        }
        p{
            font-size: 12px;
            color: @primary-color;

            &.num{
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}

.personil-list{
    padding: 40px 0;
    .widget{
        h4{
            font-size: 16px;
            font-weight: 600;
            color: @text-widget;
            margin-bottom: 30px;
        }

        .filter{
            margin-bottom: 35px;
            p.title{
                font-size: 12px;
                font-weight: normal;
                color: @primary-color;
                margin-bottom: 15px;
            }

            ul{
                li{
                    .label-container{
                        padding-top: 12px;
                        padding-bottom: 12px;                       
                        border-bottom: 1px solid @border-widget;

                        .badge{
                            font-size: 10px;
                            font-weight: 600;
                            background-color: @bg-badge-widget;
                            color: @primary-color;
                            padding: 3px 8px;
                            border-radius: 10px;
                        }

                        &.checked{
                            border-color: @dark-yellow;   
                            background-color: @bg-btn-read;  

                            .badge{
                                background-color: @dark-yellow;    
                            }
                        }

                        &.child{
                            .title{
                                position: relative;
                                padding-left: 15px;
                                color: @text-widget-child;
                                font-size: 14px;
                                &::before{
                                    position: absolute;
                                    content: '';
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: @border-widget;
                                    top: 5px;
                                    left: 0;
                                }
                            }
                            
                        }
                    }

                    &:first-child{
                        .label-container{
                            border-top: 1px solid @border-widget;                            
                            &.checked{
                                border-color: @dark-yellow;   
                                background-color: @bg-btn-read;  
                            }
                        }
                    }     
                    
                    
                }
            }
        }
    }

    .search-wrapper{
        width: 100%;
        position: relative;
        display: flex;
        .search-button{
            position: absolute;
            top: 13px;
            left: 13px;
        }
        input[type="text"]{
            width: 85%;
            border: 1px solid @border-select;
            border-radius: 4px 0 0 4px;
            padding: 11px 15px 11px 35px;
            font-size: 12px;
            border-right: none;
        }

        button{
            width: 15%;
            border: 1px solid @dark-yellow;
            border-radius: 0 4px 4px 0;
            background-color: @bg-btn-read;
            font-size: 12px;
            font-weight: 600;
            color: @primary-color;
        }
    }    
}

.personil-card{
    background-color: @white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

    img.personil-image{
        border-radius: 4px 4px 0 0;
        width: 100%;
    }

    .biodata{
        padding: 15px 20px;

        p.name{
            font-size: 14px;
            font-weight: 600;
            color: @text-widget;
            padding-top: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid @border-biodata;
            margin-bottom: 10px;
        }

        p{
            font-size: 12px;
            padding: 5px 0;
            color: @text-widget;
            &.line{
                border-top: 1px solid @border-biodata; ;
                border-bottom: 1px solid @border-biodata; ;
                padding: 10px 0;
                margin-top: 5px;
            }
            span{
                &:first-child{
                    display: inline-block;
                    width: 70px;
                    color: @color-span-bio;
                }

                &.badge{
                    font-size: 10px;
                    font-weight: 600;
                    color: @white;
                    padding: 3px 10px;
                    border-radius: 10px;
                    margin-left: 10px;
                    &-active{
                        background-color: @badge-success;
                    }
                }
            }
        }            
    }

    .action{
        padding: 0 20px 20px 20px;
        display: flex;
        justify-content: space-between;
        a{
            font-size: 12px;
            font-weight: 600;
            padding: 7px 15px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            .img-wrapper{
                width: 17px;
                height: 17px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
        .komparasi{
            background-color: @bg-btn-read;
            color: @primary-color;
            border: 1px solid @dark-yellow;
            .img-wrapper{
                background-color: @dark-yellow;
            }
            &.active{
                background-color: @badge-success;
                color: @white;
                border: 1px solid @badge-success;
                .img-wrapper{
                    background-color: @white;
                }
            }
        }

        .detail{
            background-color: @dark-yellow;
            color: @primary-color;

            img{
                margin-left: 10px;
            }
        }
    }
}

.personil-detail{
    padding: 40px 0;
    hr{
        border-top: 1px solid @border-biodata;
    }
    .card-biodata{
        background-color: @white;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        display: flex;     
        margin-bottom: 20px;  
       
        img.personil{
            border-radius: 4px 0 0 4px;
            width: 265px;
            height: auto;
            object-fit: cover;
        }

        .content{
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            width: 100%;
            p{
                width: 100%;
                color: @text-widget;
                font-size: 12px;
                span{
                    font-size: 12px;
                    font-weight: normal;
                    color: @color-span-bio;

                    &:first-child{
                        width: 70px;
                        display: inline-block;
                    }

                    &.badge{
                        font-size: 10px;
                        font-weight: 600;
                        color: @white;
                        padding: 3px 10px;
                        border-radius: 10px;
                        margin-left: 10px;
                        background-color: @text-info-blog;
                        &-active{
                            background-color: @badge-success;
                        }
                        
                    }
                }
            }
            p.name{ 
                font-size: 18px;
                font-weight: 600;
                color: @text-widget;
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid @border-biodata;
            }

            .action{
                margin-top: 10px;
                padding-top: 20px;
                border-top: 1px solid @border-biodata;
                display: flex;
                justify-content: flex-end;
                a{
                    font-size: 12px;
                    font-weight: 600;
                    padding: 7px 15px;
                    display: flex;
                    align-items: center;
                    border-radius: 4px;
                    .img-wrapper{
                        width: 17px;
                        height: 17px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                }
                .komparasi{
                    background-color: @bg-btn-read;
                    color: @primary-color;
                    border: 1px solid @dark-yellow;
                    .img-wrapper{
                        background-color: @dark-yellow;
                    }
                    &.active{
                        background-color: @badge-success;
                        color: @white;
                        border: 1px solid @badge-success;
                        .img-wrapper{
                            background-color: @white;
                        }
                    }
                }
        
            }
        }
    }
}

.bio-tab{    
    h4{
        font-size: 12px;
        font-weight: 700;
    }
    .data{
        ul{
            margin-top: 20px;
            padding-right: 40px;
            li{
                font-size: 12px;
                color: @primary-color;
                padding: 15px 20px;
                span{
                    color: @color-span-bio;
                    &:first-child{
                        width: 110px;
                        display: inline-block;
                    }
                }
                &:nth-child(odd){
                    background-color: @body-bg;
                }
            }
        }       
    }
}

.bio-compare{
    padding: 30px;
    background-color: @white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    .data-compare{
        width: 25%;
        box-shadow: 5px 0px 2px 0px rgb(0 0 0 / 6%);
        margin-right: 20px;
        ul{
            margin-top: 115px;
            padding-right: 20px;
           
            li{
                font-size: 12px;
                color: @color-span-bio;
                padding: 15px 20px;            
                &:nth-child(odd){
                    background-color: @body-bg;
                }
            }    
        }
    }

    .compare-area{
        display: -webkit-inline-box;
        overflow-x: scroll;
        width: 75%;
        padding-bottom: 20px;       

        .personil-item{
            padding-right: 0px; 
            margin-right: 20px;
            border-right: 1px solid @border-biodata;
            width: calc(100% / 3);
            hr{
                margin: 4px 0;
                border-top: 1px solid @border-biodata;
                height: 1px;
                margin-right: 20px;
            }           
            .img-wrapper{
                display: flex;
                align-items: center;                
                
                padding-right: 20px;
                padding-bottom: 20px;
                margin-bottom: 20px;
                img{
                    width: 55px;
                    height: 55px;
                    object-fit: cover;
                    border-radius: 4px;
                    margin-right: 20px;
                }                

                .name{
                    p{
                        font-size: 14px;
                        font-weight: 600;
                        color: @primary-color;
                    }
                    span{
                        font-size: 12px;
                        font-weight: normal;
                        color: @primary-color;
                    }
                }
            }

            .data{                          
                margin-top: 20px;
                ul{                    
                    margin-top: 20px;                   
                    padding-right: 20px;
                    li{
                        font-size: 12px;
                        font-weight: 600;
                        color: @primary-color;
                        padding: 15px 20px;            
                        &:nth-child(odd){
                            background-color: @body-bg;
                        }
                    }    
                }
            }
        }
    }
}

//Calendar
#calendar{   
    .fc-header-toolbar{
        margin-bottom: 10px ;
    }
    .fc-toolbar-title{
        font-size: 14px;
        font-weight: 700;
        color: @text-info-blog;
        text-transform: uppercase;
    }
    .fc-button{
        font-size: 12px;
        font-weight: bold;
        padding: 5px 15px;
        &:focus{
            box-shadow: none;
        }
    }
}

.fc{
    th.fc-col-header-cell{
        div{
            a{
                color: @text-widget;
                font-size: 12px;
                font-weight: 600;
            }
        }
        background-color: @bg-thead;       
        padding: 8px 15px;
        border-bottom: 1px solid @border-table;
    }
    td.fc-daygrid-day{
        height: 80px;
    }
    .fc-daygrid-day-number{
        font-size: 14px;
        font-weight: normal;
        color: @text-widget;
        padding: 10px 20px;
    }
}

.calendar-event{
    border: 1px solid @dark-yellow;
    padding: 20px;
    border-radius: 6px;
    .item{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid @border-event-calendar;
        p{
            font-size: 12px;
            font-weight: normal;
            color: @text-event-calendar;
            &.title{    
                font-size: 12px;
                font-weight: 600;
                color: @primary-color;
                margin-bottom: 5px;
            }
        }
    }
    .action{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        a{
            width: 48%;
        }
    }
}

/* Unit Kerja */
.unit-kerja{
    margin: 30px 0;
    .unit-card{
        
        position: relative;

        &.one{
            width: 540px;
            height: 240px; 
            .info{
                position: absolute;
                bottom: 20px;
                right: 40px;                
            }           
        }

        &.two{
            width: 100%;
            height: 240px;
            margin: 0 auto;

            .info{
                position: absolute;
                bottom: 20px;
                left: calc(50% - 300px);                
            }   
        }

        .info{            
            p{
                &.title{
                    font-size: 14px;
                    font-weight: 700;
                    color: @primary-color;
                    margin-bottom: 5px;
                }
                font-size: 12px;
                color: @primary-color;
            }
        }          
        .tupoksi{
            position: absolute;
            top: 15%;
            right: calc(50% - 520px);
            ul{
                margin:0;
                width: 490px;
                
                li{
                    font-size: 14px;
                    line-height: 38px;
                    border-bottom: 1px solid @border-tupoksi;
                }
            }
        }

        
    }
}

//keuangan
.keuangan{
    margin: 30px 0;

    .pagu-wrapper{
        display: flex;        
        #penyerapan-chart{
            width: 259px !important;
            height: 259px !important;
            margin-right: 40px;
        }
        .info{
            p{
                font-size: 12px;                
                color: @text-info-blog;    
                margin-bottom: 5px;   
                line-height: 10px;  
                display: flex;      
                align-items: center; 
                &.title{
                    font-weight: 700;
                    margin-bottom: 20px;
                }                
                span{
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    margin-bottom: 0;
                    border-radius: 2px;
                    margin-right: 10px;
    
                    &.bg-primary{
                        background-color: @primary-color;
                    }
                    &.bg-yellow{
                        background-color: @dark-yellow;
                    }
                }
            }
            span{
                font-size: 19px;                
                font-weight: 700;
                color: @primary-color;                    
                margin-bottom: 15px;
                padding-bottom: 10px;
                display: inline-block;
                width: 100%;
                border-bottom: 1px solid @border-biodata;
            }
        }   

        .notes{
            display: flex;
            margin-top: 20px;
            p{
                color: @primary-color;
                margin-right: 20px;
            }
        }
    }
}

.grid{
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
}
